
 #container {
	height: 100vh;
	width: 100%;
	box-sizing: border-box;
	height: 100vh;
	width: 100%;
	background-image: center;
	background-repeat: no-repeat;
 	background-size: cover;

}

.jumbotron {
   position: relative;
   top: 170px;
   left: -50px;
   background: none;
   
   
    
}



/*
#container .background-image {
	height: 100%;
	width: 100%;
	background-image: center;
	background-repeat: no-repeat;
 	background-size: cover;
}

.nav {

}
*/



@media only screen and (min-width:401px) and (max-width: 960px) {

}

@media only screen and (max-width: 400px) {

}

