
 #landing {
	background-image: url("../images/creative.jpg");
	height: 100vh;
	width: 100%;
	box-sizing: border-box;
	background-image: center;
	background-repeat: no-repeat;
 	background-size: cover;

}

.nav-link {
	font-family: 'Didact Gothic', sans-serif;
	font-size: 25px;
	background-color: rgba(255,255,255,0.50);
}

.intro {
	background-color: none;
	border-left: 5px solid black;
	width: 360px;
	height: 150px;
	padding-left: 10px;
	padding-top: 0px;
	text-align: left;
	position: relative;
	top: 150px;
	left: 50px;
	display: block;
	

}

.intro .intro-text {
	font-family: 'Righteous', cursive;
	font-size: 37px;
	font-weight: bold;
	letter-spacing: 2px;
}

#about {
	height: 100vh;
	background-color: #ffff00;
}

#black-top {
	height: 70px;
	background-color: black;
}



.section {
	height: 100vh;
}
.profile {
   height: 300px;
}

#pro-con {
	margin-top: 25vh;
	height: 50vh;
}

.picture {
	float: right;
	padding-top: 3vh;

}

.description {
	border-left: 5px solid black;
	height: 40vh;
	padding-top: 10vh;
	padding-left: 25px;
}

#skills {
	height: 100vh;
	background-color: #ffff00;

}

#projects {
	height: 100vh;
	background-color: #ffff00;
}


/*.align-items-center {
  -ms-flex-align: center!important;
  align-items: center!important;
}
.d-flex {
  display: -ms-flexbox!important;
  display: flex!important;
}
*/


/*
#container .background-image {
	height: 100%;
	width: 100%;
	background-image: center;
	background-repeat: no-repeat;
 	background-size: cover;
}

.nav {

}
*/



@media only screen and (min-width:401px) and (max-width: 960px) {

}

@media only screen and (max-width: 400px) {

}

