
 #landing {
	background-image: url("../images/creative.jpg");
	height: 100vh;
	width: 100%;
	box-sizing: border-box;
	background-image: center;
	background-repeat: no-repeat;
 	background-size: cover;

}

.intro {
	background: rgba(255,255,255,.50);
	width: 300px;
	height: auto;
	padding: 10px;
	text-align: center;
	position: relative;
	top: 150px;
	left: 50px;
}

#about {
	height: 100vh;
}

#black-top {
	height: 70px;
	background-color: black;
}

#black-side {
	height: 150px;
	width: 150px;
	background-color: black;

}




/*
#container .background-image {
	height: 100%;
	width: 100%;
	background-image: center;
	background-repeat: no-repeat;
 	background-size: cover;
}

.nav {

}
*/



@media only screen and (min-width:401px) and (max-width: 960px) {

}

@media only screen and (max-width: 400px) {

}

